<% include ./partials/header %>

<h1>Jobs list goes here!</h1>

<a href="/">Go to dashboard</a>
<a href="/jobs/new">Add a new job</a>

    <ul class="collapsible" data-collapsible="accordion">
        <% jobs.forEach(function(job){ %>
        <li>
          <div class="collapsible-header">
                  <div class="row" style="width:100%">
                      <div class="col s3">
                        Job: <%= job.job_num %>
                      </div>
                      <div class="col s3">
                        imo: <%= job.IMO %>
                      </div>
                      <div class="col s3">
                       agncy: <%= job.agency %>
                      </div>
                      <div class="col s2">
                        port: <%= job.port %>
                      </div>
                      <div class="col s1">
                        <a href="/jobs/<%= job._id %>">-></a>
                      </div>
              </div>
          </div>
          <div class="collapsible-body grey lighten-4"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
       <% }); %>
      </ul>

<% include ./partials/footer %>