<% include ./partials/header %>

<h4 class="center"> <%=shipDetails.name%> <a class="right" href="/ships/<%=shipDetails._id%>/edit"><i class="material-icons">edit</i></a></h4> 

<div class="row">
        
        <!--FIRST ROW -->
        
        <div class="row">
            <div class=" col s4">
                IMO Number: <strong><%= shipDetails.IMO %></strong>
            </div>
            <div class="  col s4">
                Call Sign: <strong><%= shipDetails.call %></strong>
            </div>
            <div class="  col s4">
                Port of Registry: <strong><%= shipDetails.port_of_registry %></strong>
            </div>
        </div>
        
        <!--SECOND ROW-->
        
        <div class="row">
            <div class="  col s4">
                Country of Registry: <strong><%= shipDetails.country_of_registry %></strong>
            </div>
            <div class="  col s4">
                Vessel Owner: <strong><%= shipDetails.vessel_owner %></strong>
            </div>
            <div class="  col s4">
                Gross Tonnage: <strong><%= shipDetails.gross_tonnage %></strong>
            </div>
        </div>
        
        <!--THIRD ROW-->
        
        <div class="row">
            <div class="  col s4">
                Date of Construction: <strong><%= shipDetails.date_of_construction %></strong>
            </div>
            <div class="  col s4">
                Total BW Capacity: <strong><%= shipDetails.total_bw_cap %></strong>
            </div>
            <div class="  col s4">
                Vessel Type: <strong><%= shipDetails.vessel_type %></strong>
            </div>
      </div>
      
      <div class="row">
            <div class="  col s4">
                Ballast Water Method: <strong><%= shipDetails.bw_method %></strong>
            </div>
            <div class="  col s4">
                Treatment Name: <strong><%= shipDetails.treat_sys_name %></strong>
            </div>
            <div class="  col s4">
                Approved By: <strong><%= shipDetails.approved_by %></strong>
         </div>
      </div>
</div>



<form class="right" action="/ships/<%=shipDetails._id%>?_method=DELETE" method="POST">
    <button class="waves-effect waves-light btn red">Delete</button>
</form>


<% include ./partials/footer %>